


#ping_bmc {
 text-decoration: none;
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin: 0 100px 0 100px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
#print_fru {
 text-decoration: none;
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin: 0 300px 0 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
