html { overflow-y: scroll; }
h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h2, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  height: 50px;
  width: 100%;
  font-size: 30px;
  background: #18aa8d;
  color: white;
  line-height: 10%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  height: 25px;
  width: 100%;
  font-size: 16px;
  background: #18aa8d;
  color: white;
  line-height: 20%;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

a {
  text-decoration: none;
}

h3 {
  height: 5px;
  width: 100%;
  font-size: 16px;
  margin-left: 25px;
  color: black;
}

#form_data {
  
  box-sizing: border-box;
  width: 700px;
  margin: 10px 100px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
  border-radius: 1px;
}

form h1 {
  box-sizing: border-box;
  padding: 20px;
}

form h2 {
  box-sizing: border-box;
  padding: 10px;
}

input {
  font-size: 16px;
  margin: 0px 50px;
  width: 350px;
  display: block;
  border: none;
  padding: 5px 0px;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -800px 0;
  background-size: 00px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  // float: left;
}
#include_checkbox {
  padding: 5px 100px;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

/*input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: white;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}*/

select {
  font-size: 16px;
  margin: 0px 50px;
  width: 350px;
  display: block;
  border: none;
  padding: 5px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -800px 0;
  background-size: 00px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

select:focus, select:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

select:focus::-webkit-input-placeholder, select:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

button {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin-left: 275px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow i {
  margin-right: 20px;
  -webkit-transition: margin-right 0.2s ease;
  transition: margin-right 0.2s ease;
}

.checkbox_input{
    /*background: url("uncheck222.png") no-repeat;*/
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 10px;
    margin: 5px;
    height: 60px;   
    width: 60px;
    display: block;
}
.follow:hover {
  width: 134px;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.follow:hover i {
  margin-right: 10px;
}


table.all td input.i{
width:90%;
float:left;
}



* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
#mainnav{
  display :inline-block;
  padding: 5px;
  margin: 90px -80px 50px 150px;
  float: left;
  // position: fixed;
}
#form_data{
  display: inline-block;
}
#mainnav ul{
  // background: #3B5998;#1abc9c;
  background : white;
  list-style: none;
  padding: 0px 5px 0px 1px;
  width: 200px;
  text-align: left;
  
}
#mainnav ul li{
  position: relative;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-style: solid;
  border-width: 2px;
  border-bottom: 3px solid #fff;
  border-radius: 10px 10px 10px 10px;
  border-color: #1abc9c;
  color: black;

}
#mainnav li{
  // background:  #1abc9c;
  padding: -1px 3px 10px 0px;
}
#mainnav ul .thefirst{
  //background: #1D1F20;
}
#mainnav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 16px;
  display: block;
}
#mainnav li:hover{
background: #BDBDBD;//#2B92BA;//#17306E;
}
#mainnav .sub-menu{
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
  display: none;
  text-align: left;
  border-left: 2px solid #fff;
  font-size: 90%;
  border-radius: 0px 10px 10px 0px;
}
#mainnav li:hover .sub-menu{
  display: block;
  //background:white;
  color: red;
  
}
#mainnav .sub-menu2{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 2px solid #fff;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#mainnav .sub-menu li:hover .sub-menu2{
  display: block;
}
#mainnav .sub-menu3{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #fff;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#mainnav .sub-menu2 li:hover .sub-menu3{
  display: block;
}
p {
    text-indent: 30px;
}