
{% extends "ground.html" %}
<!-- {% block title %}Index{% endblock %} -->
{% block head %}
  {{ super() }}
<link rel="stylesheet" href="static/stylesheets/bmc.css?q={{today}}">
{% endblock %}
{% block content %}

<!-- Ping  -->

<form>
<h2 onclick="hide_ping_bmc_info()">BMC Information</h2>
<br>
</form>
<div style="display: block;" id="total_body_bmc_info" >
<form  method="post">
  <table style="width:100%">
 <col width="150">
 <col width="150">
 
  <tr>
    <td name="ping">BMC IP</td>
    <td><input placeholder="Ex: 10.38.15.172" type="text" required="" value="{{bmc_serverip}}" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" name="bmc_serverip"></td>
  </tr> 
  </table>
  <br>
  <table style="width:100%">
 <col width="150">
 <col width="150">
  <tr>
    <td><button type="submit" formaction="/ping_bmc" id="ping_bmc">Ping</button></td>
    <td><button type="submit" formaction="/print_fru" id="print_fru">Print</button></td>
  </tr>
  </table>
  </form>
  <br>
  
  <table style="width:100%">
  <col width="220">
 <col width="150">
 {% if ping_bmc_output %}
   {% if ping_bmc_code == 0 %}
      <tr>
      <td name="ping">Ping </td>
      <td><p style="color: green;">PASS</p></td>
    </tr> 
    {% else %}
    <tr>
      <td name="ping">Ping </td>
      <td><p style="color: red;">FAIL</p></td>
    </tr> 
    {% endif %}
      <tr>
      <td name="ping">Ping BMC Log</td>
      <td><textarea rows="8" cols="60">{{ping_bmc_output}}</textarea></td>
    </tr> 
  {% endif %}
{% if pri_fru_output %}
  {% if pri_fru_code == 0 %}
        <tr>
        <td name="ping">Print </td>
        <td><p style="color: green;">PASS</p></td>
      </tr> 
      {% else %}
      <tr>
        <td name="ping">Print </td>
        <td><p style="color: red;">FAIL</p></td>
      </tr> 
      {% endif %}
  <tr>
    <td name="print_fru">Print Fru Eeprom Log</td>
    <td><textarea rows="15" cols="60">{{pri_fru_output}}</textarea></td>
  </tr> 
   {% endif %}
  </table>
  <div style="height: 300px"></div>
<br>

<!-- Write -->

<!-- <form >
<h2 onclick="hide_write_fru_info()">Write To Fru Eeprom</h2>
<br>
</form>
  </table>
<form action="/write_fru" method="post">
  <table style="width:100%">
 <col width="150">
 <col width="150">
  <tr>
    <td name="ping">Write To Fru Eeprom</td>
    <td><input type="file" name="file"></td>
  </tr> 
  </table>
  <br>
  <button type="submit">Write</button>
  <br>
  </form>
<br>
   <table style="width:100%">
  <col width="220">
 <col width="150">
  <tr>
    <td name="write_fru">Write Fru Eeprom Log</td>
    <td><textarea rows="4" cols="60">{{wri_fru_output}}</textarea></td>
  </tr> 
  </table>
<br> -->

<!-- Print  -->

<!-- <form>
<h2 onclick="hide_print_fru_info()">Print Fru Eeprom</h2>
<br>
</form>
<form action="/print_fru" method="post">
  <br>
  <button type="submit">Print</button>
  </form>
  <br>
  <table style="width:100%">
  <col width="220">
 <col width="150">
  <tr>
    <td name="print_fru">Print Fru Eeprom Log</td>
    <td><textarea rows="15" cols="60">{{pri_fru_output}}</textarea></td>
  </tr> 

</table>
</div>
<br></br>
<br></br>
</form>  -->
<script type="text/javascript" src="{{ url_for('static', filename = 'javascript/bmc.js') }}">
</script>
{% endblock %}